# PPGEE0260: Modelagem e Simulação Discreta de Sistemas

Aluno: Carlos André de Mattos Teixeira

Código baseado em: https://github.com/williewheeler/stats-demos/blob/master/queueing/single-queue-sim.ipynb


## Descrição
Objetivo: Adicionar dois novos eventos no simulador de fila M/M/1.

**Requisitos:**

1. Um programa executável e todos os arquivos necessários à sua execução;
2. Um relatório contendo toda a documentação do programa (variáveis, parâmetros, rotinas, fluxogramas das rotinas, etc.);
3. Um pequeno manual sobre como executar o programa e constando a modelagem do sistema.

**Método de Avaliação:**

O seu simulador será avaliado com base nos seguintes critérios e (pesos):

1. Funcionamento de acordo com o solicitado. Isto é, o modelo executado deve ter um comportamento (observável) semelhante ao descrito no escopo desta proposta
2. Implementação de funções aleatórias. Pelo menos as funções: Uniforme, Triangular, Normal e Exponencial. Além da alternativa de uso de um valor constante
3. Interface com o usuário (entrada de dados, visualização dos resultados)
4. Resultados dos experimentos
5. Documentação

## Set-up do Projeto

In [1]:
# Recarregar módulos automaticamente
%load_ext autoreload
%autoreload 2

# Importar bibliotecas
import numpy as np
import pandas as pd
import random as rd
import matplotlib.pyplot as plt
    
from source import *
from settings import *

In [2]:
results = run_sim_and_plot()

In [5]:
results['jobs'].head()

,interarrival_time,arrive_time,service_time,start_time,depart_time,response_time,wait_time
0,0.009224,0.009224,0.019389,0.009224,0.028613,0.019389,0.000000
1,0.016658,0.025882,0.046768,0.028613,0.075381,0.049498,0.002730
2,0.006861,0.032743,0.058005,0.075381,0.133386,0.100643,0.042638
3,0.046040,0.078783,0.193541,0.133386,0.326926,0.248143,0.054603
4,0.132917,0.211700,0.001767,0.326926,0.328693,0.116993,0.115226

In [6]:
results['events'].head()

,lo_bd,up_bd,width,jobs_in_system,jobs_in_queue,jobs_in_queue_change,jobs_in_system_change
0,0.000000,0.009224,0.009224,0.0,0.0,1.0,1.0
1,0.009224,0.009224,0.000000,1.0,1.0,-1.0,0.0
2,0.009224,0.025882,0.016658,1.0,0.0,1.0,1.0
3,0.025882,0.028613,0.002730,2.0,1.0,-1.0,0.0
4,0.028613,0.028613,0.000000,2.0,0.0,0.0,-1.0